@model Kafic.ViewModels.RacuniViewModel

@{
    ViewData["Title"] = "Popis racuna";
}

<pager page-info="@Model.PagingInfo" page-title="Unesi željenu stranicu" page-action="Index" class="float-right">
</pager>

<a asp-action="Create">
    Unos novog racuna
</a>

<table class="table table-sm table-striped table-hover table-bordered" id="tableracuni">
    <thead>
        <tr>
            <th class="text-center">
                <a asp-route-sort="1"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort==1 ? !Model.PagingInfo.Ascending : true)">
                    ID racuna
                </a>
            </th>
            <th class="text-center">
                <a asp-route-sort="2"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort==2 ? !Model.PagingInfo.Ascending : true)">
                    Korisnik
                </a>
            </th>


            <th class="text-center">
                <a asp-route-sort="3"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort==3 ? !Model.PagingInfo.Ascending : true)">
                    Datum 
                </a>
            </th>

            <th class="text-center">
                <a asp-route-sort="4"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-ascending="@(Model.PagingInfo.Sort==4 ? !Model.PagingInfo.Ascending : true)">
                    Ukupan iznos
                </a>
            </th>
        </tr>


    </thead>



    <tbody>
        @foreach (var racun in Model.Racuni)
        {

        <tr>
            <td class="text-center">
                <a asp-action="Show" asp-route-id="@racun.IdRacun" asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-position="@racun.Position"
                   asp-route-ascending="@Model.PagingInfo.Ascending">

                    @racun.IdRacun
                </a>
            </td>
            
            <td class="text-center">@racun.Korisnik</td>
            <td class="text-center">@racun.Datum</td>
            <td class="text-center">@racun.UkupanIznos</td>

            <td class="btn-group">
                <a asp-action="Edit"
                   asp-route-id="@racun.IdRacun"
                   asp-route-page="@Model.PagingInfo.CurrentPage"
                   asp-route-sort="@Model.PagingInfo.Sort"
                   asp-route-ascending="@Model.PagingInfo.Ascending"
                   asp-route-position="@racun.Position"
                   class="btn btn-primary" title="Ažuriraj">

                    <i class="icon-fixed-width ">Ažuriraj</i>
                </a>
                <form asp-action="Delete" method="POST"
                      asp-route-page="@Model.PagingInfo.CurrentPage"
                      asp-route-sort="@Model.PagingInfo.Sort"
                      asp-route-ascending="@Model.PagingInfo.Ascending">
                    <input type="hidden" name="idRacun" value="@racun.IdRacun" />
                    <button type="submit" class="btn btn-primary" title="Obriši">
                        @*<i class="fas fa-trash-alt"></i>*@
                        <i class="icon-fixed-width icon-trash">Obriši</i>
                    </button>
                </form>
            </td>

        </tr>
        }

    </tbody>

</table>

@section scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tableracuni').DataTable({
                language: {
                    search: "Pretraga",
                    info: "_START_ - _END_ (ukupno _TOTAL_)",
                    lengthMenu: "Prikaži _MENU_ zapisa",
                    paginate: {
                        first: "Prva",
                        previous: "Prethodna",
                        next: "Sljedeća",
                        last: "Zadnja"
                    },
                    emptyTable: "Nema podataka za prikaz",
                    info: "_START_ - _END_ od ukupno _TOTAL_ zapisa",
                    infoEmpty: "Nema podataka za prikaz",
                    infoFiltered: "(filtrirano od ukupno _MAX_ zapisa)",
                }
            });
        });
    </script>
}